* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
    background-color: #0f0f12;
    color: #ffffff;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    background-color: rgba(15, 15, 18, 0.9);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #222;
}

.logo {
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ff3e3e;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav a {
    font-weight: 600;
    font-size: 0.95rem;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}



nav a.active {
    color: #ff3e3e;
}

/* HERO */
.hero {
    background: url('https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?q=80&w=1920&auto=format&fit=crop') center/cover no-repeat;
    padding: 8rem 5% 3rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 2rem;
    color: #ffffff;
    padding: 0.1em;
    display: inline-block;
}

/*Seccion de circuitos*/
.circuitos {

    padding: 0 5% 5rem;
    max-width: 1300px;
    margin: 0 auto;
}

.circuitos h2 {
    padding-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #ff3e3e;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

/* tarjetas en fila */
.circuitos-grid {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

/* Tarjeta minimalista */
.circuito-card {
    background-color: #18181c;
    border: 1px solid #2a2a30;
    border-radius: 8px;
    padding: 2rem 2.5rem;
    flex: 1;
    min-width: 600px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.circuito-card:hover {
    transform: translateY(-4px);
    border-color: #ff3e3e;
}

.circuito-card h3 {
    color: #ff3e3e;
    font-size: 1.8rem;
    font-weight: 700;
}


.circuito2 h3 {
    color: #ff3e3e;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    padding-top: 2rem;

}

.circuito2 p {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer {
    text-align: center;
    padding: 2rem;
    background-color: #131316;
    border-top: 1px solid #222;
}

/* Trazada */
.trazado-img {
    width: 90px;
    height: 60px;
    object-fit: contain;
    /* Vuelve el logo blanco y le da un leve resplandor */
    filter: brightness(0) invert(1) drop-shadow(0 0 3px rgba(255, 255, 255, 0.3));
}